		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color: white;">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<%= link_to image_tag("logo.png", width: '150', height: '50', alt: 'Site Logo', class: "logo") ,root_url %>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#about">Conocenos</a>
						</li>
						<li class="dropdown">
	                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Catalogo <b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li><%= link_to "MOTOR", "products/motor"%></li>
	                            <li><%= link_to "EMFRIAMIENTO", "enfriamiento"%></li>
	                            <li><%= link_to "SUSPENSION", "suspension"%></li>
	                            <li class="divider"></li>
	                            <li><%= link_to "AFINACIONES", "afinaciones"%></li>
	                            <li><%= link_to "ELECTRIAS", "electrias"%></li>
	                            <li><%= link_to "FRENOS", "frenos"%></li>
	                            <li><%= link_to "TRANSMISION", "transmision"%></li>
	                            <li><%= link_to "FLUIDOS", "fluidos"%></li>
	                        </ul>
                    	</li>
						<li>
							<a class="page-scroll" href="#search">Busqueda</a>
						</li>
						<li>
							<%= link_to "Contacto", "#{root_url}#contactForm"%>
						</li>
						<li>
							<a class="page-scroll" href="#contact">Iniciar sesión</a>
						</li>
						<li>
							<%= link_to '<i class="fa fa-shopping-cart fa-1x"></i>'.html_safe,checkout_path%>
							
						</li>
						<li>					
							<%= link_to '<i class="fa fa-lock fa-1x"></i>'.html_safe, "/shoppe/orders"%>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>

			</nav> 
			<div style="">
