<!DOCTYPE html>
<html>
<head>
  <title>Maza</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">
<%= render 'layouts/navbar' %>
<div class="">
<center>
	<%= yield %>
	<% if current_order %>
		<p style="padding:10px;margin-bottom:0px !important;">
		  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
		  You have <%= pluralize current_order.total_items, 'item'%> in your basket which cost
		  <%=number_to_currency current_order.total_before_tax %> pesos
		</p>
	<% end %>
</center>	
</div>



</body>
</html>
